/* @import url('https://fonts.cdnfonts.com/css/arlon'); */

@font-face {
    font-family: Alron;
    src: url('/public/fonts/arlon-black.ttf');
}

.connect_wallet {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.connect_wallet_field {
    background-color: #ffffff50;
    padding: 7px;
    border-radius: 100px;
}

.connect_wallet_text {
    color: #6B211D;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 20.58px;
    line-height: 24.69px;
    background-color: #ffffff;
    padding: 17px 26px 17px 26px;
    border-radius: 29.9px;
    gap: 10px;
    cursor: pointer;
}

.wrong_network_text {
    font-family: Urbanist;
    font-weight: 500;
    font-size: 20.58px;
    line-height: 24.69px;
    padding: 17px 26px 17px 26px;
    border-radius: 29.9px;
    cursor: pointer;
}

.connected_button {
    display: flex;
    align-items: center;
    color: #6B211D;
    background-color: #ffffff;
    border-radius: 29.9px;
}

.connect_wallet_text:hover {
    background-color: #EFBBCC;
}

.dashboard_title {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Alron', sans-serif;
    line-height: 100px;
    -webkit-text-stroke: 4px #280c20;
    -webkit-text-fill-color: white;
}

.main_menu {
    width: 302px;
    height: 376px;
    background: url('/public/assets/YummCloud/Main/main_menu_layer.png');
    text-align: center;
}